<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CollegeEntities" connectionString="metadata=res://*/CollegeDB.csdl|res://*/CollegeDB.ssdl|res://*/CollegeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=College;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>